[Unit]
Description=RPINAS Samba Setup
Before=smbd.service nmbd.service
ConditionPathExists=!/var/lib/rpinas/.samba_configured

[Service]
EnvironmentFile=-/etc/default/rpinas
Type=oneshot
ExecStart=/usr/local/bin/rpinas-samba-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
