[Unit]
Description=RPINAS Network Setup
Wants=hostapd.service dnsmasq.service
Before=hostapd.service dnsmasq.service

[Service]
EnvironmentFile=-/etc/default/rpinas
Type=oneshot
ExecStart=/usr/local/bin/rpinas-network-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
