[Unit]
Description=RPINAS Status LED Ready State
After=hostapd.service dnsmasq.service smbd.service nmbd.service rpinas-backend.service
Requires=rpinas-backend.service
Wants=rpinas-backend.service
OnFailure=rpinas-status-led-error.service

[Service]
EnvironmentFile=-/etc/default/rpinas
Type=oneshot
ExecStart=/usr/local/bin/rpinas-status-led ready-check
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
